{% extends 'base.html' %}
{% block body %}

<div class="headerBg">
    <h1>Doações</h1>
</div>

<section class="sDoacoes">
    <h1>A sua generosidade faz toda a diferença!</h1>
    <h2>Saiba como contribuir:</h2>
</section>
<br>
<div class="container-fluid">
    <div class="row">
        <a href="" class="col-lg-4 doacoesBox">
            <div>
                <h1>Depósito Bancário</h1>
                <p>Banco: XXXXX | Agência: XXXXX | Conta: XXXXX
                <br>Banco: XXXX | Agência: XXXX | Conta: XXXXX
                <br>CNPJ: XX.XXX.XXX/XXXX-XX</p>
            </div>
        </a>
        
        <a href="" class="col-lg-4 doacoesBox">
            <div>
                <h1>Online</h1>
                <p>Seja um doador pontual ou recorrente e escolha uma das opções abaixo.</p>
            </div>
        </a>
        <a href="" class="col-lg-4 doacoesBox">
            <div>
                <h1>Doe pelo PIX</h1>
                <img width="150" src="https://pngimg.com/uploads/qr_code/qr_code_PNG6.png" alt="">
            </div>
        </a>
    </div>
</div>

<section class="sDoacoes">
    <h1>Doação Recorrente</h1>
    <h2>Seja um doador recorrente e contribua para mudar a realidade de crianças e adolescentes que vivem em situação de extrema vulnerabilidade. O seu apoio é muito importante!</h2>
    <div class="valoresDoacoes">
        <div class="valorDoacao">
            <div>R$ 35,00</div>
            <div class="mid"><hr></div>
            <div style="background-color:#51a5a4;"><a href="">DOE AGORA</a></div>
        </div>
        <div class="valorDoacao">
            <div>R$ 50,00</div>
            <div class="mid"><hr></div>
            <div style="background-color:#51a5a4;"><a href="">DOE AGORA</a></div>
        </div>
        <div class="valorDoacao">
            <div>R$ 100,00</div>
            <div class="mid"><hr></div>
            <div style="background-color:#51a5a4;"><a href="">DOE AGORA</a></div>
        </div>
        <div class="valorDoacao">
            <div>OUTROS VALORES</div>
            <div class="mid"><hr></div>
            <div style="background-color:#51a5a4;"><a href="">DOE AGORA</a></div>
        </div>
    </div>
</section>
<div class="break">
    <a href="/contas/" class="prestacao">Prestação de contas</a>
</div>
<section class="sDoacoes">
    <h1>Doação Pontual</h1>
    <h2>Faça uma doação pontual e contribua na realização de mutirões e ações pontuais. Qualquer quantia é muito importante!</h2>
    <div>
        <div class="valorDoacao">
            <div>R$ 35,00</div>
            <div class="mid"><hr></div>
            <div style="background-color:#51a5a4;"><a href="">DOE AGORA</a></div>
        </div>
        <div class="valorDoacao">
            <div>R$ 50,00</div>
            <div class="mid"><hr></div>
            <div style="background-color:#51a5a4;"><a href="">DOE AGORA</a></div>
        </div>
        <div class="valorDoacao">
            <div>R$ 100,00</div>
            <div class="mid"><hr></div>
            <div style="background-color:#51a5a4;"><a href="">DOE AGORA</a></div>
        </div>
        <div class="valorDoacao">
            <div>OUTROS VALORES</div>
            <div class="mid"><hr></div>
            <div style="background-color:#51a5a4;"><a href="">DOE AGORA</a></div>
        </div>
    </div>
</section>




{% endblock %}