{% extends 'base.html' %}
{% block body %}


<!-- {% load static %}<link rel="stylesheet" href="{% static 'css/contato.css' %}"> -->

<div class="headerBg contatoHeader">
    <h1>Contato</h1>
</div>

<main class="pgContato">
    <div>
        <div>
            <h1>Fale Conosco!​</h1>
            <p>Para mais informações sobre doações, voluntariado, projetos, parcerias, patrocínios, eventos e outros assuntos, entre em contato conosco.<br><br>
            Rua XXXX, XXXX, XXXXXX, XX XXXXX-XXX<br>
            XXXXXXX@XXXXX.XXX  |   +XX XX XXXXX-XXXX</p><br>
            <a href="">Whatsapp</a><br>
            <a href="">Instagram</a><br>
            <a href="">Facebook</a>
        </div>
    </div>
    <img src="https://source.unsplash.com/random" alt="">
</main>


<style>
    footer{
        margin: 0;
    }
</style>
{% endblock %}